.app-container {
  font-family: "Arial", sans-serif;
}

h1 {
  color: #292929;
  color: var(--dark-blue);
  text-align: center;
}

.heading {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
}

.app-logo {
  margin-right: 5px;
  color: var(--blue);
  font-size: 32px !important;
}

.overlay {
  background: red;
  height: 100%;
  width: 100%;
}
